.vscode
.vscode-server
.ipynb_checkpoints
*.pdf
*.png
*.root
*.hddm
*.in
*.conf
*.d
*.so
*.pcm
*.nfs*
*.out

temp
plot/vm_d/archive/target_density/deuterium_eos.csv
plot/vm_d/archive/target_density/epics_readings.csv
plot/vm_d/input/target_density_deuterium_eos.csv
plot/vm_d/input/target_density_epics_readings.csv
plot/vm_d/archive/clas
plot/vm_d/input/theory_paras_58.txt
plot/vm_d/input/theory_paras_78.txt
plot/vm_d/input/theory_paras_98.txt
plot/vm_d/input/theory_paras.txt
plot/vm_d/input/target_density_epcs_readings_helium.csv
plot/vm_d/input/target_density_epics_readings_deuterium.csv
