.vscode
.vscode-server
.ipynb_checkpoints
*.pdf
*.png
*.root
*.hddm
*.in
*.conf
*.d
*.so
*.pcm
*.nfs*
*.out

temp
plot/vm_d/archive/target_density/deuterium_eos.csv
plot/vm_d/archive/target_density/epics_readings.csv
plot/vm_d/input/target_density_deuterium_eos.csv
plot/vm_d/input/target_density_epics_readings.csv
