# GENERATOR
GENERATOR               = gen_MF
GENERATOR_CONFIG        = /work/halld2/home/boyu/src_analysis/sim/configs/generator/gen_test.cfg
FLUX_TO_GEN             = /work/halld2/home/boyu/src_analysis/flux/output/deuterium/flux_hist_90213.root:TaggedFlux_90213

# DETECTOR
GEANT_VERSION           = 4
BKG                     = Random:recon-2021_11-ver01

# RECONSTRUCTION
ENVIRONMENT_FILE        = /work/halld2/home/boyu/src_analysis/sim/configs/version_recon/recon-test.xml
CUSTOM_PLUGINS          = file:/work/halld2/home/boyu/src_analysis/sim/configs/jana_recon/jana_recon_test.cfg

# ANALYSIS
ANA_ENVIRONMENT_FILE    = /work/halld2/home/boyu/src_analysis/sim/configs/version_analysis/analysis-test.xml
CUSTOM_ANA_PLUGINS      = file:/work/halld2/home/boyu/src_analysis/sim/configs/jana_analysis/jana_analysis_test.cfg

# OUTPUT
DATA_OUTPUT_BASE_DIR    = /volatile/halld/home/boyu/src_analysis/sim/test

# BATCH RUNNING
BATCH_SYSTEM            = swif2
WORKFLOW_NAME           = src_analysis_sim
PROJECT                 = halld
TRACK                   = simulation
OS                      = general
NCORES                  = 8
RAM                     = 10GB
DISK                    = 40GB
TIMELIMIT               = 48hrs