# GENERATOR
GENERATOR               = gen_MF
GENERATOR_CONFIG        = /work/halld2/home/boyu/src_analysis/sim/configs/generator/gen_phi_p_12C_ver01.cfg
FLUX_TO_GEN             = /work/halld2/home/boyu/src_analysis/flux/output/carbon/flux_hist_90000.root:TaggedFlux_90000

# DETECTOR
GEANT_VERSION           = 4
BKG                     = Random:recon-2021_11-ver01

# RECONSTRUCTION
ENVIRONMENT_FILE        = /work/halld2/home/boyu/src_analysis/sim/configs/version_recon/recon-phi_p_12C-ver01.xml
CUSTOM_PLUGINS          = file:/work/halld2/home/boyu/src_analysis/sim/configs/jana_recon/jana_recon_phi_p_12C_ver01.cfg

# ANALYSIS
ANA_ENVIRONMENT_FILE    = /work/halld2/home/boyu/src_analysis/sim/configs/version_analysis/analysis-phi_p_12C-ver01.xml
CUSTOM_ANA_PLUGINS      = file:/work/halld2/home/boyu/src_analysis/sim/configs/jana_analysis/jana_analysis_phi_p_12C_ver01.cfg

# OUTPUT
DATA_OUTPUT_BASE_DIR    = /volatile/halld/home/boyu/src_analysis/sim/phi_p_12C/ver01

# BATCH RUNNING
BATCH_SYSTEM            = swif2
WORKFLOW_NAME           = src_analysis_sim
PROJECT                 = halld
TRACK                   = simulation
OS                      = general
NCORES                  = 8
RAM                     = 10GB
DISK                    = 40GB
TIMELIMIT               = 48hrs